{% extends 'auctions/layout.html' %}

{% block title %}
    {{category}}
{% endblock %}

{% block body %}
    <h2>Results for "{{category}}"</h2>
    {% for list in listings %}
        <div style="display: inline-flex; padding: 20px; box-shadow: 5px 3px 3px 3px black; width: 95%;" class="form-inline">
            <div style="float: left; padding: 10px">
                {% if list.image %}
                    <img src="{{list.image.url}}" width="400" height="500">
                {% endif %}
            </div>
            <div style="float: right; padding: 10px">
                <h1><a href="{{list.title}}">{{list.title}}</a></h1>
                <h3>Current Price: ${{list.highest_bid}}</h3>
                <br>
                <h5>Date Created: {{list.post_date}}</h5>
                <h5>Active Until: {{list.expire_date}}</h5>
            </div>
        </div>
        <br><br><br>
    {% endfor %}
{% endblock %}